<div class="container">
	<h1>Form</h1>
	<form #bookForm="ngForm">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" minlength="5" maxlength="30" class="form-control" id="title" required name="title" value="model.title" [(ngModel)]="model.title" #title="ngModel">
			<div *ngIf="title.errors && (title.dirty ||title.touched )" class="alert alert-danger">
				<div [hidden]="!title.errors.required">
					Book title is required
				</div>
				<div [hidden]="!title.errors.minlength">
					Book title must be at least 5 characters
				</div>
				<div [hidden]="!title.errors.maxlength">
					Book title must be not more than 30 characters
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="author">Author</label>
			<input type="text" class="form-control" id="author" required  name="author" value="model.author" [(ngModel)]="model.author" #author="ngModel">

			<div *ngIf="author.errors && (author.dirty ||author.touched )" class="alert alert-danger">
				<div [hidden]="!author.errors.required">
					author is required
				</div>
				
			</div>
		</div>
		<div class="form-group">
			<label for="url">Url</label>
			<input type="text" class="form-control" id="url" required   name="url"  pattern="https?://.+"  [(ngModel)]="model.url" value="model.url" #url="ngModel">
			<div *ngIf="url.errors && (url.dirty ||url.touched )" class="alert alert-danger">
				<div [hidden]="!url.errors.pattern">
                   must be vaild url
                </div>
				
			</div>
		</div>
		<button type="submit" [disabled]="!bookForm.form.valid" class="btn btn-default">Submit</button>
	</form>

	<div>
		<h2>Current model: </h2>
		{{currentBook}}
	</div>
</div>